

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.nav-bg {
  background-color: aliceblue;
}

body {
  background-color: azure;
}

.sidenav {
  width: 230px !important;
}

.user-name {
  /* font-family: "Exo 2", sans-serif !important;
  font-size: xx-large; */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

* {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg1 {
    background-color: #0047AB;
}

.bg2 {
    background-color: #FFC000;
}

.bg3 {
    background-color: #EE4B2B;
}

.bg4 {
    background-color: #097969;
}