
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

body {
    background-color: azure;
}

.title {
    font-family: "Exo 2", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}